* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  justify-content: center;
}

.head_bar {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  flex-wrap: nowrap;
}
.head_bar a {
  text-decoration: none;
  color: black;
}
.head_bar a:hover {
  text-decoration: underline;
}
.head_bar .head_bar_1 {
  flex-basis: 65%;
  padding-left: 5%;
  font-size: 2em;
}
.head_bar .head_bar_2 {
  flex-basis: 15%;
}
.head_bar .head_bar_3 {
  flex-basis: 10%;
  text-align: end;
}
.head_bar .head_bar_4 {
  flex-basis: 10%;
}
.head_bar .head_bar_4 #head_bar_search {
  height: 20px;
  margin-left: 5%;
  margin-top: 2%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-left: 0;
  border-right: 0;
}
.navbar a {
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  transition: all 0.3s linear;
}
.navbar a:hover {
  background-color: rgb(184, 178, 48);
  border-radius: 5px;
}

.container_about {
  width: 100%;
  justify-content: center;
  background: #e6e6e6;
  padding-top: 20px;
}
.container_about .header {
  text-align: center;
  margin-top: 20px;
  color: rgb(106, 28, 106);
}
.container_about .main_item {
  margin: 20px;
  font-size: 1.5em;
  text-align: justify;
}

.container_recepie {
  width: 100%;
  justify-content: center;
  background: #e6e6e6;
  padding-top: 20px;
}
.container_recepie .header {
  text-align: center;
  margin-top: 20px;
  color: rgb(106, 28, 106);
}
.container_recepie .main_item {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}
.container_recepie .main_item img {
  display: block;
  justify-content: center;
  width: 30%;
}
.container_recepie .main_item .overlay {
  position: absolute;
  font-size: 1.5em;
  bottom: 0;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  width: 30%;
  color: #e6e6e6;
}
.container_recepie .main_item:hover .overlay {
  background-color: cadetblue;
}
.container_recepie .main_item_recepie {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 30px;
  background: #e6e6e6;
  gap: 30px;
}
.container_recepie .main_item_recepie .ingridient {
  background-color: antiquewhite;
}
.container_recepie .main_item_recepie .method {
  background-color: antiquewhite;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 30px;
  background: #e6e6e6;
  gap: 30px;
}
.container [class*=main_item] {
  position: relative;
}
.container [class*=main_item] img {
  display: block;
  width: 100%;
}
.container [class*=main_item] .overlay {
  position: absolute;
  font-size: 1.5em;
  bottom: 0;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  color: #e6e6e6;
}
.container [class*=main_item]:hover .overlay {
  background-color: cadetblue;
}

.container_footer {
  background-color: black;
  color: white;
}

.nav_footer {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.nav_footer [class*=nav_item_] {
  text-align: center;
  width: 150px;
  border-right: 1px solid white;
}
.nav_footer [class*=nav_item_] a {
  text-decoration: none;
  color: white;
}
.nav_footer [class*=nav_item_] a:hover {
  text-decoration: underline;
}
.nav_footer .nav_item_4 {
  border-right: 0;
}

.footer_media {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.footer_media .nav_item {
  text-align: center;
  width: 100px;
}
.footer_media .nav_item img {
  height: 50px;
}

.footer_copyright {
  text-align: center;
}

@media screen and (width < 1150px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (width < 650px) {
  .container {
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=Style_desktop.css.map */